.quantity{
  

    &__minus{
        padding: 10px 15px;
        border-radius: 50%;
        background-color: none;
        border: 2px solid #212121;
        cursor: pointer;
        margin-right: 30px;
        transition: .3s;
        font-size: 13px;

        &:hover{
            background-color: #212121;
        }

    }

    &__plus{
        padding: 10px 15px;
        border-radius: 50%;
        background-color: none;
        border: 2px solid #212121;
        cursor: pointer;
        margin-left: 30px;
        transition: .3s;
        font-size: 13px;

        &:hover{
            background-color: #212121;
        }

    }

}
