.board{
    width: 70%;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 1rem auto;
    grid-gap: 1rem;
}


@media only screen and (min-width : 1224px) {
    .board{
        width: 70%;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-width : 1824px) {
    .board{
        width: 70%;
        grid-template-columns: repeat(8, 1fr);
    }
}

@media screen and (max-width: 1024px) {
    .board{
        width: 90%;
        grid-template-columns: repeat(4, 1fr);
    }
}


@media screen and (max-width: 768px) {
    .board{
        width: 90%;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .board{
        width: 100%;
    }
}